*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
    min-height: 100vh;
    width: 100%;
}

.sign-card{
    background-color: #222;
    color: #fff;
    width: 350px;
    padding: 30px 20px;
    border-radius: 10px;
    margin-bottom: 30px;
}

.sign-card h3{
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 30px;
}

.input-div{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.input-div label{
    margin-bottom: 5px;
}

.input-div input{
    display: block;
    width: 100%;
    padding: 10px 20px;
    border: 2px solid #1B98F5;
    border-radius: 5px;
    transition: 0.4s ease;
}

.input-div input:focus{
    outline: none;
    border: 2px solid #2827CC;
}

.btn{
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: linear-gradient(45deg, #1B98F5, #23C4ED);
    font-size: 18px;
    border-radius: 5px;
    margin-bottom: 10px;
    transition: 0.4s ease;
}

.btn:hover{
    background: linear-gradient(45deg, #383CC1, #23C4ED);
    cursor: pointer;
}

p a{
    margin-left: 5px;
    font-weight: 600;
    color: #fff;
    font-size: 18px;
}

.c-error .c-validation{
  background: #c51244 !important;
  padding: 10px !important;
  border-radius: 0 !important;
  position: relative;
  display: inline-block !important;
  box-shadow: 1px 1px 1px #aaaaaa;
  margin-top: 10px;
}
.c-error  .c-validation:before{
  content: '';
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #c51244;
  position: absolute;
  top: -10px;
}
.c-label:after{
  color: #c51244 !important;
}
.c-error input, .c-error select, .c-error .c-choice-option{
  background: #fff0f4;
  color: #c51244;
}
.c-error input, .c-error select{
  border: 1px solid #c51244 !important;
}
