{% extends 'base.html' %}

{% block title %}Home{% endblock %}
{% block content %}
{% if user.is_authenticated %}
  <p><a href="{% url 'logout' %}">Log Out</a></p>
  <div class="container">
    <table class="table table-striped">
        <thead>
          <tr>
            <th>Link</th>
            <th>Video ID</th>
            <th>File name</th>
            <th>File size</th>
            <th>File URL</th>
          </tr>
        </thead>
        <tbody>
        {% for v in video %}
          <tr>
            <td><a href="/stream_video/{{v.FileName}}/">Link</a></td>
            <td>{{v.ID}}</td>
            <td>{{v.FileName}}</td>
            <td>{{v.FileSize}}</td>
            <td>{{v.FileUrl}}</td>
          </tr>
          {% endfor %}
        </tbody>
    </table>
  </div>
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">Log In</a>
{% endif %}
{% endblock %}
